# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
*.mo
*.db
db.sqlite3
media/
staticfiles/

# Envs
.env
*.env

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
